<h1>tamanho terreno: <%=@filas%> </h1>
<h1>tamanho terreno: <%=@columnas%> </h1>
<h1>posicion eje x carro: <%=@posx%> </h1>
<h1>posicion eje y carro: <%=@posy%> </h1>
<h1>orientacion carro: <%=@orientacion%> </h1>
<h1>nombre carro: <%=@nombre%> </h1>
<h1>instrucciones registradas: <%=@instrucciones%> </h1>

# <%for i in 1..@instrucciones.length%>
#     <%if @instrucciones[i]=="i"||@instrucciones[i]=="a" ||@instrucciones[i]=="d"%>
#         <%if @direccion=="n"%>
#         <%if@instrucciones[i]=="i"%>
#         <%=@direccion="o"%>
#         <%else%>
#                 <%if@instrucciones[i]=="d"%>
#                     @direccion="e"
#                     <%else%>
#                     <%if@instrucciones[i]=="a"%>
#                       @posy=posy+1
#                         <%end%>
                        
#                         <%end%>
                

#                         <%end%>

#                         <%else%>
#                         <%if @direccion=="o"%>
#                         <%if@instrucciones[i]=="i"%>
#                         @direccion="s"
#                     <%else%>
#                     <%if@instrucciones[i]=="d"%>
#                         @direccion="n"
#                         <%else%>
#                         <%if@instrucciones[i]=="a"%>
#                         <%=@posx=posx-1%>
#                             <%end%>
                            
#                             <%end%>
                    
    
#                             <%end%>
    
#                             <%else%>

#                             <%if @direccion=="s"%>
#                             <%if@instrucciones[i]=="i"%>
#                             @direccion="o"
#                             <%else%>
#                         <%if@instrucciones[i]=="d"%>
#                           @direccion="e"
#                           <%else%>
#                             <%if@instrucciones[i]=="a"%>
#                             @posy=posy-1
#                             <%end%>
                                
#                                 <%end%>
                        
        
#                                 <%end%>
        
#                                 <%else%>
#                                 <%if @direccion=="e"%>
#                                 <%if@instrucciones[i]=="i"%>
#                                 @direccion="s"
#                                 <%else%>
#                             <%if@instrucciones[i]=="d"%>
#                             @direccion="n"
#                             <%else%>
#                                 <%if@instrucciones[i]=="a"%>
#                                 @posx=posx+1
#                                     <%end%>
                                    
#                                     <%end%>
                            
            
#                                     <%end%>
            
#                                     <%end%>


#                                     <%end%>
#                                     <%end%>
#                                     <%end%>



#                                     <%end%>

#                                     <%end%>

                                    # <h1>posicion final x carro: <%=@posx%> </h1>
                                    # <h1>posicion final y carro: <%=@posy%> </h1>
                                    # <h1>orientacion carro: <%=@orientacion%> </h1>