<h1>tamanho terreno: <%=@filas%> </h1>
<h1>tamanho terreno: <%=@columnas%> </h1>
<h1>posicion eje x carro: <%=@posx%> </h1>
<h1>posicion eje y carro: <%=@posy%> </h1>
<h1>orientacion carro: <%=@orientacion%> </h1>
<h1>nombre carro: <%=@nombre%> </h1>
<h1>instrucciones registradas: <%=@instrucciones%> </h1>

<% for i in 1..@instrucciones.lenght %>
    <% if @instrucciones[i]=="i"  %>

<%end %>

